@import "tailwindcss";

.theme2 {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --header-bg: #2d2d2d;
  --header-text: #ffffff;
  --header-border: #404040;
  --header-hover: #818cf8;
  font-family: "Georgia", serif;
  background-color: var(--bg-color);
  color: var(--text-color);

  header {
    background-color: var(--header-bg);
    color: var(--text-color);
    border-bottom: 1px solid var(--header-border);
    z-index: 1000;
  }

  .dropdown {
    color: var(--text-color);
    background-color: var(--header-bg);
    font-size: 13px;
    border: 1px solid var(--text-color);
  }

  .dropdown_option {
    color: var(--text-color);
    background-color: var(--header-bg);
  }

  .card {
    background: #353434;
    box-shadow: 0px 2px 1px -1px rgba(255, 255, 255, 0.1),
      0px 1px 1px 0px rgba(255, 255, 255, 0.08),
      0px 1px 3px 0px rgba(255, 255, 255, 0.06);
  }
  .card:hover {
    box-shadow: 0px 3px 5px -1px rgba(255, 255, 255, 0.15),
      0px 6px 10px 0px rgba(255, 255, 255, 0.12),
      0px 1px 18px 0px rgba(255, 255, 255, 0.1);
  }

  .page_caption {
    color: grey 500;
  }

  .about_page {
    background: #1e2939;
    box-shadow: 0px 3px 5px -1px rgba(255, 255, 255, 0.15),
      0px 6px 10px 0px rgba(255, 255, 255, 0.12),
      0px 1px 18px 0px rgba(255, 255, 255, 0.1);
  }

  .contact_form {
    background: #1e2939;
    box-shadow: 0px 3px 5px -1px rgba(255, 255, 255, 0.15),
      0px 6px 10px 0px rgba(255, 255, 255, 0.12),
      0px 1px 18px 0px rgba(255, 255, 255, 0.1);
  }

  .success_modal_wrap {
    background: rgba(255, 255, 255, 0.5);
  }

  .success_modal {
    background: #1e2939;
  }

  .details_drawer_wrap {
    background: rgba(255, 255, 255, 0.5);
  }

  .details_drawer {
    background: #353434;
  }

  .about_grid h3 {
    color: #1e1e1e;
  }

  .details_drawer_text {
    color: var(--text-color);
  }

  .contact_us_btn {
    background: #155dfc;
  }

  .contact_us_btn:hover {
    background: #1d4ed8;
  }

  .contact_image_text {
    color: var(--text-color);
    text-align: center;
    box-shadow: 0px 2px 1px -1px rgba(255, 255, 255, 0.1),
      0px 1px 1px 0px rgba(255, 255, 255, 0.08),
      0px 1px 3px 0px rgba(255, 255, 255, 0.06);
  }

  .hamburger {
    background-color: var(--text-color);
  }

  .hamburger_menu {
    background-color: var(--header-bg);
  }

  .hamburger_menu .selected {
    background: #292828;
  }
}
